# gradle

.gradle/

build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# datagen cache

src/generated/**/.cache

# local dev

run/
lib_ext/
temp/
graphify-out/
